.intro-01{
}
.intro-01 .projects a{
	display: block;
	float: left;
	font-size: 72px;
	line-height: 124px;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-right: 30px;
	border-bottom: solid 4px;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.intro-01 .projects a:hover{
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}